#addCrew{
  border-radius: 10%;
  box-shadow: 5px 5px 5px #000;
  border:thin solid black;
  padding: 5em;
  color:red;
  
  background-image:url(/images/the-good-wooden-background.jpg);
  background-size:cover;
}
#addCrew > h3{
-webkit-text-stroke-color: white;
  -webkit-text-stroke-width:.6px;
  color:maroon;
}
#addCrew > .col-md-2 > label{
  -webkit-text-stroke-color: white;
  -webkit-text-stroke-width:.2px;
  color:orangered
}